 .container {
   margin: 0 20px;
   padding: 0;
 }

 .header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   /* background-color: #F6F6F6; */
 }

 .menuIcon {
   display: none;
 }

 .logo {
   display: flex;
 }

 .logo img {
   width: 25px;
 }

 .logoText {
   font-weight: bold;
   position: relative;
   top: 5px;
 }

 .menu ul {
   display: flex;
   list-style: none;
   gap: 15px;
   color: #4F5665;
 }

 .menu ul a {
   text-decoration: none;
 }

 .menu ul a:hover {
   color: aqua;
 }


 .signIn,
 .signUp {
   font-weight: bold;
   padding: 5px 15px;
   border-radius: 30px;
   background-color: white;
   border: 1px solid white;
 }

 .signUp {
   color: red;
   border: 1px solid red;
 }

 .homeScreen {
   display: flex;
   margin: 40px 0px;
   justify-content: center;
   align-items: center;
 }

 .leftHome {
   width: 50%;
 }

 .heading {
   font-size: 50px;
   font-weight: 500;
 }

 .subHeading {
   color: #4F5665;
 }

 .homeButton {
   margin-top: 30px;
   width: 150px;
   text-align: center;
   background-color: red;
   padding: 10px 20px;
   color: white;
   border: none;
   border-radius: 5px;
 }

 .rightHome {
   width: 50%;
 }

 .homeImage {
   width: 350px;
 }

 .homePattern {
   width: 100%;
   display: flex;
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   /* background-color: tomato; */
 }

 .pattern1 {
   padding: 45px 35px;
   width: 33%;
   display: flex;
   justify-content: center;
   gap: 30px;
   align-content: center;
 }

 .homePattern span {
   width: 1px;
   height: 80px;
   background-color: #EEEFF2;
   margin: 25px 0;
 }

 .p1Img {
   width: 35px;
   height: 35px;
 }

 .p1Content1 {
   font-weight: bold;
 }

 .p1Content2 {
   color: #4F5665;

 }

 .featureScreen {
   margin: 30px 0;
   padding: 50px 0;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }

 .leftFeature {
   width: 50%;
 }

 .leftFeature img {
   width: 300px;
 }

 .heading2 {
   font-weight: bold;
   font-size: 30px;
 }

 .rightFeature {
   width: 50%;
 }

 .rightFeature ol {
   list-style: none;
   margin-left: -40px;
 }

 .rightFeature img {
   width: 12px;
   padding-right: 5px;
 }


 .planScreen {
   margin-top: 10px;
 }

 .planHeading {
   text-align: center;
   font-size: 35px;
 }

 .planSubHeading {
   text-align: center;
   color: #4F5665;
 }

 .planContainer {
   /* background-color: brown; */
   padding: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
 }

 .plan {
   background-color: white;
   padding: 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   min-width: 200px;
   min-height: 430px;
   position: relative;
   border: 1px solid #4F5665;
   border-radius: 5px;
 }

 .planImage {
   width: 100px;
   /* paddin */
 }

 .planText {
   font-weight: bold;
   padding-top: 20px;
 }

 .plan ol {
   list-style: none;
   padding-left: 10px;
 }

 .plan li {
   line-height: 25px;
   color: #4F5665;
 }

 .plan img {
   padding-right: 10px;
 }

 .planCost {
   position: absolute;
   bottom: 50px;
   font-weight: bold;
 }

 .planCost span {
   color: #4F5665;
   font-weight: none;
 }

 .planButton {
   position: absolute;
   bottom: 10px;
   color: red;
   border: 1.5px solid red;
   padding: 5px 40px;
   border-radius: 30px;
   font-weight: bold;
 }

 .activePlan {
   border: 1px solid red;
 }

 .activePlanButton {
   background-color: red;
   color: white;
 }

 .networkScreen {
   margin: 30px 0;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .netHeading {
   font-size: 30px;
 }

 .netSubHeading {
   color: #4F5665;
   padding: 10px 0 50px 0;
 }

 .worldMap,
 .sponsor {
   width: 75%;
 }

 .reviewPage {
   text-align: center;
 }

 .cards {
   margin-top: 2%;
   width: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   box-sizing: border-box;
 }

 .card {
   /* background-color: rgb(236, 231, 231); */
   width: 300px;
   padding: 20px;
   margin: 16px;
   border-radius: 5px;
   border: 1px solid #dddddd;
 }

 .cardInfo {
   display: flex;
   justify-content: space-evenly;
   gap: 10px;
   margin-bottom: 10px;
 }

 .userRating {
   margin-left: 5px;
   display: flex;
   align-items: center;
   gap: 5px;
 }

 .activeCard {
   border: 1px solid red;
 }

 .subscribe {
   /* background-color:; */
   box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
   padding: 30px;
   margin: 50px;
   position: relative;
 }

 .subscribeHeading {
   font-size: 35px;
   width: 60%;
   margin: 15px 0;
 }

 .subscribeBtn {
   position: absolute;
   right: 10%;
   top: 35%;
   background-color: red;
   color: white;
   padding: 16px;
   width: 150px;
   border-radius: 5px;
   text-align: center;
 }

 .subscribeBtn:hover {
   background-color: royalblue;
   cursor: pointer;
 }

 .footer {
   margin: 40px 10px;
   /* background-color: #f8f8f8; */
   position: relative;
 }

 /* 
 .logo{

 } */

 .details {
   width: 35%;
   margin: 35px 0;
 }

 .footerMenu {
   display: flex;
   position: absolute;
   margin-top: -35px;
   top: 0;
   right: 0;
   justify-content: space-between;
 }


 .products {
   margin: 20px;
 }

 .products ol li {
   list-style: none;
   line-height: 30px;
   color: #4F5665;
 }

 .footerTitle {
   font-weight: bold;
   color: black;
 }

 .footerHome a {
   text-decoration: none;
   color: red;
 }


 .socialIcons img {
   cursor: pointer;
   margin-left: -15px;
 }

 .copyRights {
   color: #4F5665;

 }

 /* mobile design */
 @media only screen and (max-width: 600px) {
   /* .header {
      display: none;
    } */

   .menuIcon img {
     width: 25px;
   }

   .menuIcon {
     display: block;
   }

   .menu,
   .headerButtons {
     display: none;
   }

   .mobileMenu {
     display: none;
     flex-direction: column;
     gap: 10%;
     position: fixed;
     right: 0;
     top: 0;
     margin: 0;
     width: 40%;
     height: 100vh;
     background-color: white;
     padding: 20px 10px;
   }

   .mobileMenu ul {
     width: 100%;
   }

   .mobileMenu ul li {
     width: 100%;
     list-style: none;
     padding: 8px 10px;
     margin-left: -40px;
     border-bottom: 1px solid grey;
   }

   .mobileMenu ul li:hover {
     background-color: black;
     color: white
   }

   .mHeaderButtons {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
   }

   .menuIcon:hover>.mobileMenu {
     display: flex;
   }

   .homeScreen {
     flex-direction: column;
     width: 100%;
   }

   .leftHome,
   .rightHome {
     width: 100%;
     margin: auto;
   }

   .homePattern {
     flex-direction: column;
   }

   .homePattern span {
     margin: 0 30px;
     width: 80%;
     height: 1px;
   }

   .featureScreen {
     flex-direction: column;
   }

   .leftFeature,
   .rightFeature {
     width: 100%;
     margin: auto;
   }

   .planContainer {
     flex-direction: column;
   }

   .subscribe {
     min-width: 200px;
     margin: 30px;
   }

   .subscribeHeading {
     width: auto;
     font-size: 25px;
   }

   .subscribeBtn {
     position: unset;
     margin-left: -10px;
     margin-top: 10px;
     padding: 10px;
   }

   .details {
     width: 80%;
   }

   .footerMenu {
     position: relative;
     display: block;
     top: 30px;
     padding-bottom: 20px;
   }

   .products {
     margin: 0 0 0 -40px
   }

   .socialIcons {
     margin-top: 20px;
   }

 }